* {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccd9ff;
}

header {
    width: 80%;
    margin: 0.5em auto;
    text-align: center;
}

header h1{
    font-size: 3em;
    color: #6666ff;
}

nav {
    margin: 0.5em auto;
    width: 40%;
    text-align: center;
    border-top: 0.5em double #1a1aff;
    border-bottom: 0.2em solid #1a1aff;
}

nav a {
    font-size: 1.5em;
    display: inline-block;
    margin: 0.5em;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0.3em;
    background: linear-gradient(to bottom, #ebe9f9 0%,#d8d0ef 47%,#d8d0ef 51%,#cec7ec 54%,#cec7ec 54%,#cec7ec 62%,#c1bfea 100%);
    color: #0000cc;

}

nav a:hover {
    background: linear-gradient(to top, #ebe9f9 0%,#d8d0ef 47%,#d8d0ef 51%,#cec7ec 54%,#cec7ec 54%,#cec7ec 62%,#c1bfea 100%);
}

nav a:active {
    background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p, footer a{
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: crimson;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #ff33ff;
    background-color: #b3ffb3;
}

#bottom_image img {
    display: block;
    width: 70%;
    margin: 0.2em auto;
}

.wrapper {
    width: 70%;
    margin: 1em auto;
    padding: 0.5em auto;
}

fieldset {
    width: 40%;
    margin: 1em auto;
    padding: 0.5em;
    border: 2px solid #809fff;
    border-radius: 10px;
}

legend {
    font-size: 2em;
    color: #2e2eb8;
    border: 2px solid #809fff;
    border-radius: 10px;
}

label {
    display: block;
    color: #2e2eb8;
    font-size: 1.5em;
}

input {
    display: block;
    background-color: #fff;
    color: #000;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 1.5em;
}

input[type="submit"] {
    margin-bottom: 0.1em;
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
}

input[type="submit"]:hover {
    background: linear-gradient(to top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
}

input[type="submit"]:active {
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 60%);
}

textarea {
    border: 1px solid #809fff;
    border-radius: 10px;
    background-color: #fff;
    height: 5em;
    width: 100%;
}

#back_to_home {
    color:  #9999ff;
    display: block;
    width: 30%;
    margin: 2em auto;
    padding: 0.1em;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 0.3em;
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}

#back_to_home:hover {
    background: linear-gradient(to top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
}

#back_to_home:active {
    background: linear-gradient(to top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
    color:  #9999ff;
}
